---
import { websiteMeta } from '@shared/config/meta'

export interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<meta charset="UTF-8" />
<meta
  name="description"
  property="og:description"
  content={description ?? websiteMeta.description()}
/>
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{websiteMeta.title(title)}</title>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
