---
const { label, href, className } = Astro.props
---

<a
  rel="nooper"
  target="_blank"
  class:list={[
    'font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline',
    className,
  ]}
  href={href}>
  {label}
</a>
