---
import Head from '@shared/ui/base-head.astro'
import type { MarkdownLayoutProps } from 'astro'

type Props = MarkdownLayoutProps<{
  title: string
  lang: 'ru' | 'en'
}>

const { frontmatter } = Astro.props
---

<!DOCTYPE html>
<html lang={frontmatter.lang}>
  <Head title={frontmatter.title} />
  <style is:global>
    body {
      @apply bg-white dark:bg-black;
    }
    main {
      margin: 0 auto;
      max-width: 620px;
      margin-top: 4ch;
      margin-bottom: 10ch;
    }
    @media (max-width: 654px) {
      main {
        @apply px-4;
      }
    }
  </style>
  <body>
    <main class="prose md:prose-lg lg:prose-base dark:prose-invert">
      <slot />
    </main>
  </body>
</html>
